.container{
    display:flex;
    flex-direction:row;
    margin:auto;
    width:80%;
    background-color: #fdf0d5;
}
.leftpanel{
    width:30%;
    padding:20px;
    background-color:#14213d;
    color:white;
}
.rightpanel{
    width:70%;
    padding:20px;
}
